{% extends "main.html" %}
{% block title %}
    Unsubscribe
{% endblock title %}
{% block stylesheets %}
    {% comment %} load in static files for css reference {% endcomment %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
{% endblock stylesheets %}
{% block content %}
    <div class="card">
        <form method="post" action="{% url 'unsubscribe' %}">
            {% comment %} required and prevents cross-site request forgery attacks {% endcomment %}
            {% csrf_token %}
            <div class="inputbox">
                {{ form.phone }}
                <span>Phone</span>
            </div>
            {% comment %} {{form.phone.errors}} {% endcomment %}
            <p>Enter a valid phone number (e.g. +12125552368).</p>
            <button class="btn btn-primary btn-block" type="Submit">Unsubscribe</button>
            <br/>
            <br/>
            <a href="{% url 'home' %}">Back</a>
        </form>
    </div>
{% endblock content %}
